/* -----------------------------------------| Variables |---------------------------------------- */
:root{
    --color-light-gray: #e0e0e0;
    --color-dark-icon-hover: #4e4e4e87;
    --color-green-website: #006500;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-lion: #ff2600;
    --color-leopart: #a200ff;
    --color-cat: #5f1004;
    --color-wolf: #001a60;
    --color-fox: #1eff00;
    --color-join-btn: #ff6347;
    --font-h1: 45px;
    --font-h2: 35px;
    --font-h3: 25px;
    --font-p: 15px;
    --font-p-improtent: 18px;
    --font-a-animal: 10px;
    --font-icon: 22px;
    --font-icon-improtent: 27px;
    /* --padding:;
    --morgin:; */
    --max-width: 1200px;
}
/* -----------------------------------------| Tags |---------------------------------------- */
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--color-light-gray);
    font-family: 'font-rubik-light';
}
h1,h2,h3,
h4,h5,h6{
    font-family: 'font-antonio-bold';
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--color-black);
}
img{
    width: 100%;
    display: block;
}
/* -----------------------------------------| Fonts |---------------------------------------- */
@font-face{
    font-family: 'font-antonio-bold';
    src: url('../fonts/Antonio-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'font-antonio-regular';
    src: url('../fonts/Antonio-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'font-rubik-light';
    src: url('../fonts/Rubik-Light.ttf');
    font-weight: normal;
    font-style: normal;
}
/* -----------------------------------------| General-Classes |---------------------------------------- */
.middle{
    max-width: var(--max-width);
    padding: 0 15px;
    margin: 0 auto;
}
/* hero */
.hero{
    display: flex;
    align-items: center;
    height: 550px;
    background:linear-gradient(rgba(0, 0, 0, 0.35) ,rgba(0, 0, 0, 0.35)), url(../images/hero.png) no-repeat center 60% / cover fixed;
}
.hero__information{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-white);
}
.hero__link{
    font-size: var(--font-a-animal);
    background-color: var(--color-leopart);
    color: var(--color-white);
    padding: 5px;
    border-radius: 50px;
    transition: 0.5s;
}
.hero__link:hover{
    background-color: var(--color-white);
    color: var(--color-leopart);
}
.hero__title{
    font-size: var(--font-h1);
}
.hero__description{
    width: 40%;
    font-size: var(--font-p);
}
.hero__read-more{
    padding: 10px 20px;
    font-size: var(--font-p);
    background-color: var(--color-green-website);
    color: var(--color-white);
    border-radius: 5px;
}
.category-btn{
    font-size: var(--font-a-animal);
    color: var(--color-white);
    padding: 7px 10px;
    border-radius: 50px;
    display: inline-flex;
    transition: 0.5s;
}
.c-1-btn{
    background-color: var(--color-leopart);
}
.c-2-btn{
    background-color: var(--color-lion);
}
.c-3-btn{
    background-color: var(--color-cat);
}
.c-4-btn{
    background-color: var(--color-wolf);
}
.c-5-btn{
    background-color: var(--color-fox);
}
.elevator{
    width: 60px;
    height: 60px;
    font-size: var(--font-icon-improtent);
    font-weight: bold;
    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: 50%;
    border: 2px solid var(--color-green-website);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 65px;
    left: 25px;
    opacity: 0.6;
    z-index: 50;
    transition: 0.5s;
}
.elevator:hover{
    opacity: 1;
}
/*------------------------------------------| Articles |---------------------------------------*/
.info__table{
    padding: 10px 0px;
    display: grid;
    grid-template-columns: 6fr 300px;
}
.info__article{
    padding: 10px 10px;
    margin: 0 10px;
    background-color: var(--color-white);
    font-size: var(--font-p-improtent);
    font-weight: bold;
    line-height: 30px;
}
.info__title{
    font-size: var(--font-h1);
    line-height: 60px;
    padding: 10px 10px;
}
.info__writer{
    padding: 10px 5px;
    background-color: var(--color-light-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info__writer a{
    padding: 4px 16px;
}
.adv__article{
    padding: 0 0;
    background-color: transparent;
    height: 480px;
    font-size: var(--font-p-improtent);
    font-weight: bold;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.adv__article div{
    margin: 5px 0;
}
.adv__first{
    padding: 20px 10px;
    background-color: var(--color-green-website);
}
.adv__first .adv__title{
    font-size: var(--font-h2);
    color: var(--color-white);
}
.adv__first .adv__description{
    padding: 15px 0px;
    color: var(--color-white);
    font-size: var(--font-p);
}
.adv__first .adv__link{
    padding: 10px 100px;
    color: var(--color-white);
    background-color: var(--color-black);
    font-weight: 100;
    transition: 0.5s;
}
.adv__first .adv__link:hover{
    color: var(--color-black);
    background-color: var(--color-white);
}
.adv__article .adv__second{
    padding: 20px 10px;
    background-color: var(--color-white);
}
.adv__second .categories{
    padding: 10px 0;
    font-size: var(--font-h3);
}
.adv__second  .sugestion  .sugestion__item{
    padding: 15px 0;
    border: 1px solid transparent;
    border-bottom-color: var(--color-black);
}
/* -----------------------------------------| Loyout |---------------------------------------- */
header{
    background-color: var(--color-white);
}
.nav-inner{
    padding: 10px;
    display: grid;
    grid-template-columns: 5fr 4fr 2fr;
    align-items: center;
}
.logo-site{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: var(--font-icon-improtent);
}
.socials{
    font-size: var(--font-icon);
    display: flex;
    justify-content: center;
}
.socials i{
    padding: 0 5px;
    transition: 0.4s;
}
.socials i:hover{
    opacity: 0.5;
}
.menu__list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: var(--font-p-improtent);
    font-weight: bold;
}
.details{
    position: relative;
}
.details::after{
    content: "▼";
    position: absolute;
    top: 30%;
    left: 100%;
    transform: translate(-100% -50%);
    color: var(--color-green-website);
}
.menu__bench{
    display: none;
    position: relative;
    transition: 1s;
}
.bench__item{
    padding: 10px 0px;
}
.bench__item:hover .bench__link{
    background: var(--color-dark-icon-hover);
    color: var(--color-light-gray);
}
.bench__link{
    padding: 5px 5px;
    border-radius: 20px;
}
.menu__item:last-child:hover > .menu__bench{
    width: 310px;
    display: block;
    position: absolute;
    top: 9%;
    left: 100%;
    transform: translate(-105% , -9%);
    background-color: var(--color-light-gray);
    padding: 10px 15px;
    border-radius: 25px;
}
.menu__link{
    display: block;
    padding: 10px;
    transition: 0.4s;
}
.we-are-in-page{
    background-color: var(--color-green-website);
    color: var(--color-white);
    transition: 0.4s;
}
.menu__link:hover{
    background-color: var(--color-dark-icon-hover);
    color: var(--color-white);
}
footer{
    height: 400px;
    background-color: var(--color-black);
    color: var(--color-white);
    position: relative;
}
.footer__list{
    padding: 10px 0px 20px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
    line-height: 25px;
    font-size: var(--font-p-improtent);
}
.footer__item > .email:valid{
    border-color: var(--color-green-website);
}
.footer__item > .email:invalid{
    border-color: var(--color-lion);
}
.footer__title{
    padding: 10px 0px;
    font-size: var(--font-h3);
}
.footer__item > input{
    padding: 10px 22px;
    margin: 5px auto;
    border-radius: 3px;
    font-size: var(--font-p-improtent);
}
.footer__item > input[type="submit"]{
    padding: 10px 93px;
    color: var(--color-white);
    background-color: var(--color-green-website);
}
.footer__description{
    padding: 10px 0 20px 0;
}
.footer__item:last-child > .footer__description{
    padding: 10px 0 60px 0;
}
.footer__link{
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-join-btn);
    border-radius: 2px;
    border: 2px solid transparent;
    transition: 0.4s;
}
.footer__link:hover{
    color: var(--color-join-btn);
    background-color: var(--color-white);
    border-color: var(--color-join-btn);
}
.footer__point{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.point__item{
    padding: 10px 0;
    width: 100%;
    border:1px solid transparent;
    border-bottom-color: #262525;
}
.point__link{
    padding: 10px 0;
    color: var(--color-white);
}
.footer__copyright{
    padding: 20px 40px;
    text-align: center;
    background-color: #262525;
    font-size: var(--font-p-improtent);
}
/* -----------------------------------------| Pages |---------------------------------------- */
/* -----------------------------------------| index |---------------------------------------- */
.news__list{
    width: 100%;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    
}
.news__title{
    font-size: var(--font-h2);
    padding: 5px 0;
}
.news__card{
    padding: 15px;
    background-color: var(--color-white);
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 10px 1px var(--color-dark-icon-hover);
}
.news__card:first-child{
    display: grid;
    grid-column: 1/3;
    grid-template-columns: repeat(2,1fr);
}
.news__card:last-child{
    display: grid;
    grid-column: 2/4;
    grid-template-columns: repeat(2,1fr);
}

.news__card img{
    border-radius: 5px;
}
.news__content{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.news__link::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-green-website);
    opacity: 0.03;
}
.news__content:nth-child(2),
.news__content:nth-child(3),
.news__content:nth-child(4),
.news__content:nth-child(5),
.news__content:nth-child(6){
    padding-top: 20px;
}
.news__card:nth-child(2),
.news__card:nth-child(6){
    color: var(--color-white);
    background-color: var(--color-green-website);
}
.news__card:nth-child(2){
    background-color: var(--color-black);
}
.news__different,
.news__different{
    padding: 10px 0;
}
.news__different > .news__link ,
.news__different > .news__link{
    color: var(--color-white); 
}
.news__card:first-child > .news__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.news__card:last-child > .news__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    direction: rtl;
}
.news__img{
    margin-top:20px;
    border-radius: 20px;
}
/* -----------------------------------------| about |---------------------------------------- */
main.about  .hero{
    background:linear-gradient(rgba(0, 0, 0, 0.35) ,rgba(0, 0, 0, 0.35)), url(../images/hero-site-3.png) no-repeat center 60% / cover fixed;
    max-height: 350px;
}

.about__line{
    display: grid;
    grid-auto-flow:column;
    grid-template-columns: 7fr 300px;
}
.about__line  li{
    padding: 10px 5px;
    margin: 30px 10px;
    background-color: var(--color-white);
    position: relative;
}
.about__info .about__title{
    font-size: var(--font-h1);
    font-weight: bold;
    padding: 5px 15px;
}
.about__info .about__description{
    font-size: var(--font-p-improtent);
    font-weight: bold;
    padding: 10px 20px;
}
.wrapper{
    width: 350px;
    padding: 5px 20px;
    float: left;
    transition: 0.5s;
    shape-outside: circle(45%);
}
.wrapper img{
    border-radius: 50%;
    padding: 0 15px;
    transition: 0.5s;
}
.wrapper:hover{
    shape-outside: circle(60%);
    float: left;
}
.wrapper img:hover{
    border-radius: 20%;
}
.about__line .about__adv{
    padding: 15px 15px;
    height: 180px;
    background-color: var(--color-green-website);
    color: var(--color-white);
}
.about__adv .adv__title{
    padding: 5px 0;
    font-size: var(--font-h3);
}
.about__adv .adv__description{
    padding: 15px 0px;
}
.about__adv .adv__link{
    padding: 10px 86px;
    color: var(--color-white);
    background-color: var(--color-black);
    font-size: var(--font-p-improtent);
    transition: 0.5s;
}
.about__adv .adv__link:hover{
    color: var(--color-black);
    background-color: var(--color-white);
}
/* ---------------------------------------| Articles page |------------------------------------------- */
.articles__route{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to right , rgba(0, 0, 0, 0.85) , rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.85)), url(../images/article-hero.png) no-repeat center center / cover fixed;
    height: 350px;
    color: var(--color-white);
}
.articles__title{
    padding: 10px 10px;
    font-size: var(--font-h1);
}
.route a{
    padding: 10px 10px;
    font-size: var(--font-p);
    color: var(--color-white);
}
.articles__browse{
    background-color: var(--color-light-gray);
}
.articles__browse .middle{
    padding: 10px 10px;
    display: grid;
    grid-template-columns: 6fr 300px;
}
.browse__title{
    padding: 10px 5px  5px 5px;
    font-size: var(--font-h2);
}
.onther-line{
    margin: 0px 0px 5px 5px;
    width: 50px;
    height: 2px;
    border-radius: 20px;
    background-color: var(--color-green-website);
    transition: 0.7s ease-in-out;
}
.browse__title:hover ~ .onther-line{
    width: 260px;
}
.articles__news{
    display: grid;
    grid-template-rows: 0.5fr 1fr;
}
.browse__category{
    padding: 10px 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.browse__category .browse__item{
    margin: 5px;
    padding: 5px 5px 15px 5px;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.articles__collection > .browse__category .browse__item img,
.articles__latest > .latest__list .latest__item img{
    width: 100%;
    height: 230px;
    border-radius: 5px;
}
.browse__category .browse__item .articles__content{
    position: relative;
}
.browse__category .browse__item .sub__title{
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(5% , -130%);
    color: var(--color-white);
    z-index: 50;
}
.sub__paraghraph{
    padding: 5px 0px 15px 0px;
}
.sub__link{
    padding: 10px 20px;
    background-color: var(--color-green-website);
    color: var(--color-white);
    border-radius: 5px;
    font-size: var(--font-p);
}
.latest__list{
    padding: 10px 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.latest__list .latest__item{
    margin: 5px;
    padding: 5px 5px 15px 5px;
    background-color: var(--color-white);
}
.latest__list .latest__item .information{
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
}
.information .information__time{
    font-size: var(--font-p);
    font-weight: bold;
}
.information .information__link{
    color: var(--color-green-website);
    font-size: var(--font-p);
    font-weight: bold;
    transition: 0.5s;
}
.information .information__link:hover{
    color: var(--color-dark-icon-hover);
}